<div class="prozo-invoice-wrapper">
      <div class="prozo-invoice-info">
        <ul class="prozo-invoice-item">
          <% OrderItem.where(invoice_id: invoice.id).map do |item| %>
            <li><%= item.menu_item_name %></li>
          <% end %>
        </ul>
        <ul class="prozo-invoice-item">
          <% OrderItem.where(invoice_id: invoice.id).map do |item| %>
            <li>Rs. <%= item.menu_item_price %></li>
          <% end %>
        </ul>
      </div>
      <div class="prozo-invoice-type">
        <% order_type = invoice.online_order ? "ONLINE" : "WALK-IN" %>
        <%= order_type%>
      </div>
      <div class="prozo-invoice-price">
        Rs. <%= invoice.total_bill %>
      </div>
      <div class="prozo-invoice-delivery-toggle">
        <% if(!invoice.delivered) %>
          <%= render partial: "pending-invoice-action", locals: {
            invoice: invoice
          } %>
        <% else %>
          <span class="invoice-delivered-label">Delivered</span>
          <p class="prozo-delivery-date"><%= invoice.updated_at.strftime("%Y-%m-%d") %></p>
        <% end %>
      </div>
    </div>
