<div class="prozo-cart-wrapper">
  <h1 class="user-form-title">Cart<h1>
  <% if(session[:current_cart_invoice_id]) %>
    <div class="prozo-invoice-info">
      <ul class="prozo-invoice-item">
        <% OrderItem.where(invoice_id: session[:current_cart_invoice_id]).map do |item| %>
          <li><%= item.menu_item_name %></li>
        <% end %>
      </ul>
      <ul class="prozo-invoice-item">
        <% OrderItem.where(invoice_id: session[:current_cart_invoice_id]).map do |item| %>
          <li><%= item.items_purchased %> x Rs. <%= item.menu_item_price %></li>
        <% end %>
      </ul>
    </div>
    <div class="prozo-invoice-price">
      Rs. <%= Invoice.find(session[:current_cart_invoice_id]).total_bill %>
    </div>
    <div><%= link_to "Checkout", {:action=>"update", :controller=>"invoices", :id=>session[:current_cart_invoice_id]},method: "put", class:"order-button" %></div>
  <% else %>
    EMPTY CART
  <% end %>

</div>
