<%
  categoryChoices = Category.categoryArray
%>


<section class="users-new">
  <%= form_with url: {:action=>"create", :controller=>"menuitems"}, method: :post do |form| %>
    <h1 class="user-form-title">Add Menu Item</h1>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Name:</p>
      <%= form.text_field :name, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Category:</p>
      <%= form.select :category_id, categoryChoices %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Description:</p>
      <%= form.text_area :description, class: "user-form-input", class:"user-form-text-area" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Price:</p>
      <%= form.number_field :price, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Production Cost:</p>
      <%= form.number_field :production_cost, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Stock:</p>
      <%= form.number_field :stock, class: "user-form-input" %>
    </div>

    <%= form.submit "Add", class: "user-form-submit-button" %>

  <% end %>
</section>
