<h1 class="menu-category"><%= category_name %></h1>
  <% if( @current_user && @current_user.role == "admin")%>
    <label class="switch category-switch">
      <%= form_with(url: "categories/#{category_id}", method: "put") do %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input
            type="checkbox"
            <%= category_active.to_s %>
            name="is_active"
            class= "prozo-checkbox"
            onclick="this.form.submit()"
          >
          <span class="slider round"></span>
      <% end %>
    </label>
  <% end %>


<% MenuItem.categoryMenuItems(category_id).map do |item| %>
    <%= render partial: "menu-section", locals: {
      item: item
    } %>
  <% end %>

<p class="line-break margin-top-10"></p>
