<% itemInCart =  OrderItem.itemInCart(session[:current_cart_invoice_id], item.id) %>

<div class="menu-row">
  <span><%= item.name %></span>
  <span class="menu-item-description"><%= item.description %></span>
  <span>Rs. <%= item.price %></span>
  <span class="menu-add-to-cart">
    <% if(itemInCart) %>
      <%= form_with(url: "orderitems/#{item.id}", method: "put", class:"alter-items-remove") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="value-button" id="decrease" value="Decrease Value" onclick="this.parentNode.submit();" >-</div>
        <%= hidden_field_tag(:itemAction, "remove") %>
      <% end %>
        <input type="number" id="number" value="<%= itemInCart.items_purchased %>" disabled />
      <%= form_with(url: "orderitems/#{item.id}", method: "put", class:"alter-items-add") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="value-button" id="increase"  value="Increase Value" onclick="this.parentNode.submit();" >+</div>
        <%= hidden_field_tag(:itemAction, "add") %>
      <% end %>
    <% else %>
      <%= link_to "ADD TO CART", {:action=>"create", :controller=>"invoices", :id=>item.id, authenticity_token: form_authenticity_token},method: "post", class:"add-to-cart-button" %>
    <% end %>

    <% if(true) %>
      <%= link_to "EDIT", {:action=>"edit", :controller=>"menuitems", :id=>item.id, authenticity_token: form_authenticity_token},method: "get", class:"edit-menu-item-button" %>
    <% end %>
  </span>
</div>
