<!DOCTYPE html>
<html>
  <head>
    <title>ProzoCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="prozo-navigation">
      <span class="prozo-logo-holder">
          <span class="prozo-logo">Prozo</span>
          <span class="prozo-greeting">Greetings, Guest</span>
      </span>

      <span class="prozo-links">
          <span class="prozo-link">Menu</span>
          <span class="prozo-link">Orders</span>
          <span class="prozo-link">Report</span>
          <span class="prozo-link">Cart</span>
          <span class="prozo-link">Sign Out</span>
      </span>
    </nav>

    <div class="prozo-main-wrapper">
        <%= yield %>
    </div>
  </body>
</html>
