<!DOCTYPE html>
<html>
  <head>
    <title>ProzoCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="prozo-navigation">
      <span class="prozo-logo-holder">
          <span class="prozo-logo">Prozo</span>
          <span class="prozo-greeting">Greetings, Guest</span>
      </span>

      <span class="prozo-links">
          <%= link_to "Menu", {:action=>"index", :controller=>"categories"}, class:"prozo-link" %>
          <%= link_to "Orders", {:action=>"index", :controller=>"invoices"}, class:"prozo-link" %>
          <span class="prozo-link">Report</span>
          <%= link_to "Cart", cart_path, class:"prozo-link" %>
          <%= link_to "Logout", {:action=>"destroy", :controller=>"sessions"}, class:"prozo-link" %>
      </span>
    </nav>

    <div class="prozo-main-wrapper">
        <%= yield %>
    </div>
  </body>
</html>
