<% current_user_name = session[:current_user_id] ? User.find(session[:current_user_id]).name.capitalize : "Guest" %>


<!DOCTYPE html>
<html>
  <head>
    <title>ProzoCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="prozo-navigation">
      <a href="/" class="proozo-logo-home-link">
        <span class="prozo-logo-holder">
            <span class="prozo-logo">Prozo</span>
            <span class="prozo-greeting">Greetings, <%= current_user_name %></span>
        </span>
      </a>

      <span class="prozo-links">

          <%= link_to "Menu", {:action=>"index", :controller=>"categories"}, class:"prozo-link" %>

          <% if(session[:current_user_id]) %>
            <%= link_to "Orders", {:action=>"index", :controller=>"invoices"}, class:"prozo-link" %>
          <% end %>

          <% if(session[:current_user_id] && User.find(session[:current_user_id]).role == "admin" ) %>
            <%= link_to "Report", {:action=>"index", :controller=>"report"}, class:"prozo-link" %>
          <% end %>

          <% if(session[:current_cart_invoice_id]) %>
            <%= link_to "Cart", cart_path, class:"prozo-link" %>
          <% end %>

          <% if(session[:current_user_id]) %>
            <%= link_to "Logout", destroy_session_path ,method: "delete", class:"prozo-link" %>
          <% end %>
      </span>
    </nav>

    <p class="coords">PROZO N 49° 16' 35.173"  /  W 0° 42' 11.30" PROZO</p>

    <% if(flash[:error]) %>
        <div class="prozo-flash-error-message-container">
          <%= flash[:error] %>
        </div>
    <% end %>

    <% if(flash[:success]) %>
        <div class="prozo-flash-success-message-container">
          <%= flash[:success] %>
        </div>
    <% end %>

    <div class="prozo-main-wrapper">
        <%= yield %>
    </div>
  </body>
</html>
